body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ffc107;
}

section {
    padding: 50px;
}

#menu {
    background-color: #fff;
    text-align: center;
}

.pizza-item {
    display: inline-block;
    width: 45%;
    margin: 20px;
    vertical-align: top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.pizza-item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.pizza-item h3 {
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
